# Replace <db_password> with the password for the 'shipitadmin' user.
# If the password contains any special characters (e.g. @, :, /) you must URL-
# encode them. For example, 'Shipit@2026' becomes 'Shipit%402026'.
MONGODB_URI=add_your_mongodb_connection_string_here
PORT=4000
